.banner {
    background-color: darkblue;
    justify-content: center;
    border-radius: 7px;
    text-align: center;
    display: block;
    color: white;
    height: 10vh;
    padding: 7px;
    width: 100%;
}